body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.navbar-item {
    padding: 5px 10px;
}

.search-bar {
    flex: 1;
    padding: 5px;
}

.search-bar input {
    width: 50%;
    height: 30px; /* Adjust the height as desired */
    padding: 5px;
    border: 3px solid #ddd;
    
}

.clickable {
    cursor: pointer;
}

.profile,
.opportunity {
    padding: 5px 10px;
    background-color: #777;
    border-radius: 5px;
    margin-right: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.settings-icon {
    font-size: 18px;
    margin-left: 10px;
}

.dropdown {
    display: none;
    position: absolute;
    top: 30px;
    right: 10px;
    background-color: #333;
    border-radius: 5px;
    padding: 5px;
}

.dropdown-item {
    padding: 5px 10px;
    color: #fff;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .navbar {
        flex-wrap: wrap;
    }
    .search-bar {
        flex-basis: 100%;
        margin-top: 10px;
    }
    .opportunity,
    .profile {
        margin-top: 10px;
    }
    .user-info {
        margin-top: 10px;
    }
    .dropdown {
        top: 45px;
    }
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.featured-courses, .events {
    margin-bottom: 30px;
}

h2 {
    margin-top: 0;
}

.course-card, .event-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.course-card img, .event-card img {
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    margin-bottom: 10px;
}
