body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-size: cover; /* Adjust background size */
    background-repeat: no-repeat; /* Prevent background repetition */
}

.navbar {
    position: relative; /* Add this for z-index to work */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(rgba(60, 145, 194),rgba(132, 187, 219));
    color: #fff;
    padding: 10px;
    z-index: 2; /* Ensure the navbar is above other elements */
}

.navbar-item {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
    padding: 5px 10px;
    background-color: rgba(110, 170, 214, 1);
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.search-bar {
    flex: 1;
    padding: 5px;
}

.search-bar input {
    width: 50%;
    height: 30px; /* Adjust the height as desired */
    padding: 5px;
    border: 3px solid #ddd;
    
}

.clickable {
    cursor: pointer;
}

.profile,
.opportunity {
    padding: 5px 10px;
    background-color: rgba(110, 170, 214, 1);
    border-radius: 5px;
    margin-right: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.settings-icon {
    font-size: 18px;
    margin-left: 10px;
}

.dropdown {
    display: none;
    position: absolute;
    top: 30px;
    right: 10px;
    background-color: #333;
    border-radius: 5px;
    padding: 5px;
}

.dropdown-item {
    padding: 5px 10px;
    color: #fff;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .navbar {
        flex-wrap: wrap;
    }
    .search-bar {
        flex-basis: 100%;
        margin-top: 10px;
    }
    .opportunity,
    .profile {
        margin-top: 10px;
    }
    .user-info {
        margin-top: 10px;
    }
    .dropdown {
        top: 45px;
    }
}

.user-profile {
    background-color: rgba(183, 219, 232, 0.5);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic {
    background-color: rgba(183, 219, 232, 0.5);
    border-radius: 5px;
    padding: 20px;
    padding-bottom: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
    width: 80%;
}

.name {
    font-size: 100%;
    color: white;
}
